

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li a {
    text-decoration: none;
}

div img {
    display: block;
    width: 100%;
}

.container {
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
    min-width: 320px; 
}

header {
    background-color: #122a57;
    height: 100px;
    display: flex;
    align-items: center;
    color: #fff;
}

.list-items {
    display: flex;
    max-width: 260px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.list-items li a {
    color: #fff;
}

.menu {
    justify-content: space-between;
}

.apresentation {
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}

.text-apresentation {
    min-height: 200px;
}

.text-apresentation h1 {
    color: #122a57;
    font-size: 48px;
    margin-bottom: 10px;
}

.btn {
    background-color: #122a57;
    color: rgba(255, 255, 255, 0.884);
    text-align: center;
    border-radius: 30px;
    width: 220px;
    display: block;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#quem-somos {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

#quem-somos h2 {
    font-size: 32px;
    color: #122a57;
    display: flex;
    margin-bottom: 20px;
}

#quem-somos h2::before {
    content: "";
    height: 50px;
    width: 5px;
    margin-right: 5px;
    background-color: #122a57;
    position: relative;
}

#quem-somos p {
    margin-bottom: 10px;
    width: 90%          ;
}

#quem-somos img {
    min-width: 420px;
}

.container-externo {
    background-color: #122a57;
    width: 100%;
}

#servicos {
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 100px;
}

#servicos h2 {
    color: #fff;
    font-size: 32px;
    margin-bottom: 40px;
}

.list-servicos {
    display: flex;
    justify-content: space-between;
}

.item-servicos {
    text-align: center;
}

.item-servicos a {
    width: 220px;
    text-decoration: none;
    background-color: #fff;
    border-radius: 30px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    margin-top: 20px;
    padding: 5px 10px;
    color: #122a57;
    font-size: 14px;
    font-weight: 700;
}

.list-servicos p {
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    margin-top: 20px;
}

.item-servicos img {
    width: 80%;
    margin: auto;
}

#planos {
    flex-direction: column;
    min-height: 100vh;
    padding-top: 50px;
}

#planos h2 {
    font-size: 32px;
}

.list-planos {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.item-planos {
    flex: 1;
    border: 5px solid #122a57;
    margin-right: 20px;
    padding: 10px;
    max-width: 240px;
}

.item-planos .btn {
    margin: auto;
    margin-bottom: 20px;
}

.item-planos h3 {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}

.item-planos h3::after {
    content: "";
    background-color: #122a57;
    width: 100%;
    height: 3px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.item-planos ul {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.item-planos ul li{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.item-planos li::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #122a57;
    margin-right: 5px;
}

footer {
    background-color: #122a57;
    height: 70px;
    display: flex;
    align-items: center;
}

.foot {
    justify-content: space-between;
    color: #fff;
}

/* mobile/responsividade */

@media(max-width: 990px){
    .container {
        flex-direction: column;
    }

    .menu{
        align-items: center;
    }

    .list-items {
        margin-top: 10px;
    }

    .apresentation {
        flex-direction: column-reverse;
    }

    .text-apresentation {
        width: 100%;
        margin: auto;
        text-align: center;
    }

    .text-apresentation .btn {
        margin: auto;
        margin-top: 15px;
    }

    #quem-somos{
        flex-direction: column-reverse;
    }

    #quem-somos img {
        min-width: 320px;
        margin: auto;
    }

    #quem-somos h2 {
        margin-left: 10px;
    }

    #quem-somos p {
        margin-left: 15px;
        margin-bottom: 20px ;
    }

    #servicos h2 {
        margin-left: 10px;
    }

    .list-servicos {
        flex-direction: column;
    }

    .item-servicos img {
        width: 50%;
        margin: auto;
    }

    #planos h2 {
        margin-left: 10px;
        margin-bottom: 20px;
    }

    .list-planos {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    .item-planos {
        max-width: 90%;
        margin: auto;
        width: 100%;
        margin-bottom: 20px;
    }

    .foot {
        align-items: center;
    }
}